<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  {{ content_for_header }}
  <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
</head>
<body>

{% section 'header' %}

{{ content_for_layout }}

{% section 'footer' %}

</body>
</html>
